body {
    font-family: 'Arimo', sans-serif;
}

th {
    height: 73px;
    width: 280px;
    border: 1px solid silver;
}

tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tr:nth-child(even) {
    background-color: #E3E3E3;
}

tr td {
    border: 1px solid silver;
}

.all-table {
    text-transform: uppercase;
    border-collapse: collapse;
    margin: auto;
    border: 25px solid #3A4965;
}

.header-table-choose {
    width: 313px;
    height: 159px;
    color: #484848;
    background: #FAFAFA;
}

.header-table-pricing {
    font-weight: bold;
    font-size: 30px;
}

.header-table-standard {
    font-weight: bold;
    font-size: 24px;
    background-color: #89C331;
    color: white;
}

.header-table-ultimate {
    font-weight: bold;
    font-size: 30px;
    background: #F04A56;
    color: white;
}

.header-table-premium {
    font-weight: bold;
    font-size: 24px;
    color: white;
    background: #20807C;
}

.price {
    font-weight: bold;
    font-size: 60px;
    color: #484848;
    background: #FAFAFA;
    vertical-align: bottom;
    align-items: center;

}

.price-cent {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
}

.price-month {
    position: absolute;
    font-weight: normal;
    margin-top: 24px;
    font-size: 18px;
}

.table-cell {
    height: 72px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #484848;
}

::before {
    margin-right: 12px;
    font-family: "FontAwesome", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #848484;
}

.storage:before {
    content: "\f187";
}

.bandwidth:before {
    content: "\f0ee";
}

.email:before {
    content: "\f0e0";
}

.support:before {
    content: "\f1cd";
}

.products:before {
    content: "\f1b2";
}

.users:before {
    content: "\f0c0";
}

.action-button {
    font-family: 'Arimo', sans-serif;
    width: 192px;
    height: 49px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-style: none;
    border-radius: 6px;
    margin: 30px 60px;
}

.contact-button {
    background-color: #484848;
}

.contact-button-cell {
    background-color: #DDDDDD;
}

.green-button {
    background-color: #89C331;
}

.red-button {
    background-color: #F04A56;
}

.blue-button {
    background-color: #20807C;
}

.action-button:hover {
    transform: scale(1.2);
}